@page "/admin/dashboard"
@layout Components.Layout.AdminLayout
@rendermode InteractiveServer



<h3>Dashboard</h3>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card text-bg-primary">
            <div class="card-body">
                <h5 class="card-title">Tổng sản phẩm</h5>
                <p class="display-6">120</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-bg-success">
            <div class="card-body">
                <h5 class="card-title">Tổng nhập</h5>
                <p class="display-6">$3,500</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-bg-danger">
            <div class="card-body">
                <h5 class="card-title">Tổng xuất</h5>
                <p class="display-6">$2,800</p>
            </div>
        </div>
    </div>
</div>