@page "/admin/inventory"
@layout AdminLayout

<h3>Danh sách tồn kho</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>Tổng nhập</th>
            <th>Tổng xuất</th>
            <th>Tồn</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Xi măng</td>
            <td>1000</td>
            <td>500</td>
            <td>500</td>
        </tr>
    </tbody>
</table>
