@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row min-vh-100">

        <!-- SIDEBAR -->
        <div class="col-2 bg-dark text-white p-0">
            <NavMenuAdmin />
        </div>

        <!-- MAIN -->
        <div class="col-10 p-0">
            <!-- HEADER -->
            <AdminHeader />

            <!-- CONTENT -->
            <div class="p-4 bg-light min-vh-100">
                @Body
            </div>
        </div>

    </div>
</div>
