<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["QuanLyKho.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        window.setupChart = (canvasId, config) => {
            const ctx = document.getElementById(canvasId).getContext('2d');
            const type = config.type;
            const colorImportBase = '#3b82f6';
            const bgImport = ctx.createLinearGradient(0, 0, 0, 400);
            bgImport.addColorStop(0, 'rgba(59, 130, 246, 0.6)'); 
            bgImport.addColorStop(1, 'rgba(59, 130, 246, 0.0)');
            
            const colorExportBase = '#ef4444';
            const bgExport = ctx.createLinearGradient(0, 0, 0, 400);
            bgExport.addColorStop(0, 'rgba(239, 68, 68, 0.6)');
            bgExport.addColorStop(1, 'rgba(239, 68, 68, 0.0)');

            if (config.data.datasets.length > 0) {
                config.data.datasets[0].borderColor = colorImportBase;
                config.data.datasets[0].pointBackgroundColor = "#fff";
                config.data.datasets[0].pointBorderColor = colorImportBase;
                config.data.datasets[0].backgroundColor = type === 'line' ? bgImport : colorImportBase;
                config.data.datasets[1].borderColor = colorExportBase;
                config.data.datasets[1].pointBackgroundColor = "#fff";
                config.data.datasets[1].pointBorderColor = colorExportBase;
                config.data.datasets[1].backgroundColor = type === 'line' ? bgExport : colorExportBase;
            }

            if (window.myChartInstance) {
                window.myChartInstance.destroy();
            }

            window.myChartInstance = new Chart(ctx, config);
        }
    </script>
</body>

</html>
