<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="QuanLyKho.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        window.setupChart = (elementOrId, config) => {
            let ctx = null;
            if (typeof elementOrId === 'string') {
                const el = document.getElementById(elementOrId);
                if (el) ctx = el.getContext('2d');
            } else if (elementOrId && elementOrId.getContext) {
                ctx = elementOrId.getContext('2d');
            }

            if (!ctx) return;

            if (window.myChartInstance) {
                window.myChartInstance.destroy();
            }
            window.myChartInstance = new Chart(ctx, config);
        }

        window.setupPieChart = (elementOrId, config) => {
            let ctx = null;

            if (typeof elementOrId === 'string') {
                const el = document.getElementById(elementOrId);
                if (el) ctx = el.getContext('2d');
            } else if (elementOrId && elementOrId.getContext) {
                ctx = elementOrId.getContext('2d');
            }

            if (!ctx) return;

            if (window.pieChartInstance) window.pieChartInstance.destroy();
            window.pieChartInstance = new Chart(ctx, config);
        }

        window.downloadFile = (fileName, content) => {
            const link = document.createElement('a');
            link.download = fileName;
            link.href = "data:text/csv;charset=utf-8,%EF%BB%BF" + encodeURIComponent(content);
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    </script>
</body>
</html>